/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.pawsome-portfolio .pawsome-portfolio-items {
	display: flex;
}

.pawsome-portfolio .clear-tags-button {
    margin-left: 10px;
    cursor: pointer;
}

.pawsome-portfolio .pawsome-portfolio-tag-button.active {
    background-color: #0073aa;
    color: white;
}

.pawsome-portfolio .pawsome-portfolio-tag-button {
    margin-right: 5px;
}
